In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.io.json import json_normalize
import os

## 주차별 week num 부여 -> 2022년 7월 마지막주차 부터 0으로 시작하여 desc

In [12]:
df = pd.read_csv('C:/Users/X1Carbon/Desktop/mobile_revenue/mobile_revenue_rank_30.csv',encoding='utf-8')
df

,rank,rank_change,app_name,publisher_name,google_rank,apple_rank,onestore_rank
0,1,0.0,리니지2M,NCSOFT,1.0,1.0,NaN
1,2,0.0,리니지M,NCSOFT,2.0,2.0,NaN
2,3,0.0,라이즈 오브 킹덤즈,LilithGames,3.0,3.0,NaN
3,4,0.0,기적의 검,4399 KOREA,5.0,6.0,2.0
4,5,0.0,V4,NEXON Company,4.0,5.0,NaN
...,...,...,...,...,...,...,...
4015,26,-6.0,한게임 포커,NHN BIGFOOT,25.0,39.0,44.0
4016,27,-5.0,뮤오리진3,Webzen Inc.,21.0,47.0,NaN
4017,28,0.0,세븐나이츠 레볼루션,Netmarble,47.0,5.0,NaN
4018,29,6.0,제2의 나라: Cross Worlds,Netmarble,26.0,21.0,NaN
4019,30,8.0,R2M,Webzen Inc.,24.0,NaN,NaN

In [13]:
df['index_col'] = df.index
df

,rank,rank_change,app_name,publisher_name,google_rank,apple_rank,onestore_rank,index_col
0,1,0.0,리니지2M,NCSOFT,1.0,1.0,NaN,0
1,2,0.0,리니지M,NCSOFT,2.0,2.0,NaN,1
2,3,0.0,라이즈 오브 킹덤즈,LilithGames,3.0,3.0,NaN,2
3,4,0.0,기적의 검,4399 KOREA,5.0,6.0,2.0,3
4,5,0.0,V4,NEXON Company,4.0,5.0,NaN,4
...,...,...,...,...,...,...,...,...
4015,26,-6.0,한게임 포커,NHN BIGFOOT,25.0,39.0,44.0,4015
4016,27,-5.0,뮤오리진3,Webzen Inc.,21.0,47.0,NaN,4016
4017,28,0.0,세븐나이츠 레볼루션,Netmarble,47.0,5.0,NaN,4017
4018,29,6.0,제2의 나라: Cross Worlds,Netmarble,26.0,21.0,NaN,4018
4019,30,8.0,R2M,Webzen Inc.,24.0,NaN,NaN,4019

In [18]:
share = 133 - df['index_col']//30
df['week_num'] = share
df

,week_num,rank,rank_change,app_name,publisher_name,google_rank,apple_rank,onestore_rank,index_col
0,133,1,0.0,리니지2M,NCSOFT,1.0,1.0,NaN,0
1,133,2,0.0,리니지M,NCSOFT,2.0,2.0,NaN,1
2,133,3,0.0,라이즈 오브 킹덤즈,LilithGames,3.0,3.0,NaN,2
3,133,4,0.0,기적의 검,4399 KOREA,5.0,6.0,2.0,3
4,133,5,0.0,V4,NEXON Company,4.0,5.0,NaN,4
...,...,...,...,...,...,...,...,...,...
4015,0,26,-6.0,한게임 포커,NHN BIGFOOT,25.0,39.0,44.0,4015
4016,0,27,-5.0,뮤오리진3,Webzen Inc.,21.0,47.0,NaN,4016
4017,0,28,0.0,세븐나이츠 레볼루션,Netmarble,47.0,5.0,NaN,4017
4018,0,29,6.0,제2의 나라: Cross Worlds,Netmarble,26.0,21.0,NaN,4018
4019,0,30,8.0,R2M,Webzen Inc.,24.0,NaN,NaN,4019

리니지 2M 시각화 그래프 그리기

In [ ]:
L2 = df.loc[:,['app_name']="리니지2"]

In [ ]:
plt.figure(figsize = (8, 6))
plt.line()